<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User Page</title>

</head>
<body>

<nav class="navbar navbar-dark bg-dark text-white bg-dark font-weight-bold">

    <a class="navbar-brand">
        <tr>
            <td th:text="${user.email}">Email</td>
            with roles:
            <td th:text="${user.getRolesString()}">Roles</td>
        </tr>
    </a>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-outline-dark text-secondary bg-dark border-0 ">Logout</button>
    </form>

</nav>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 <!--pl-0 pr-0--> bg-white"
                 style="
                        padding-top: 20px;
                        padding-left: 0px;
                        padding-right: 0px;
                        height: 100vh">

                <ul class="nav nav-pills flex-column">

                    <li class="nav-item">
                        <a class="nav-link active"
                           data-toggle="tab"
                           href="/user">User</a>
                    </li>

                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="/admin">Admin</a>
                        </li>
                    </div>

                </ul>
            </div>
            <div class="col-md-10 bg-light"
                 style="
                        padding-top: 20px;
                        height: 100vh">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="User">
                        <h2 class="h2">User information-page</h2>
                        <div class="card">
                            <h5 class="card-header">About user</h5>
                            <div class="card-body text-center">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>FirstName</th>
                                        <th>SecondName</th>
                                        <th>Email</th>
                                        <th>Age</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.id}">Id</td>
                                        <td th:text="${user.firstName}">FirstName</td>
                                        <td th:text="${user.secondName}">SecondName</td>
                                        <td th:text="${user.email}">Email</td>
                                        <td th:text="${user.age}">Age</td>
                                        <td th:text="${user.getRolesString()}">Roles</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>